@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Set custom variables here */

:root {

 --bs-primary: #2e483a;
 --bs-primary-rgb:46,72,58;
 --light: #f6f3ed;
 --light-rgb: 246, 243, 237;
 --bs-body-bg: #f6f3ed

}

.navbar {
  background-color: var(--bs-primary);
}

.nav-link {
  color: var(--light);
}

.blockquote-footer {
  color: var(--light);
}

.navbar-brand {
  padding-left: 1em;
}

body {
  font-family: "Sarala", sans-serif;
  background-color: var(--light);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2e483a;
  --bs-btn-border-color: #2e483a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.btn-primary {
  border-radius: 10px;
}

.head-shot {
  border-radius: 100%;
}

.list-group-item {
  padding-top: 2em;
  background-color: var(--light);
}

.bottom-h2 {
  color: var(--light);
}

.what-customers-are-saying {
  background-color: var(--bs-primary);
  color: var(--light);
}

footer {
  background-color: var(--bs-primary);
  color: var(--light);
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

#hero {
  height: 800px;
  background-color: var(--light);
  background-image: url(../Images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero .d-flex {
  height: 800px;
}

.hero-section {
  padding: 4em;
}

#cta {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/cta-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}


section:not(#hero):not(#cta){
  padding: 60px 0;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
}

.smarter-way-to-eat {
  border-top-style: solid;
  border-color: #2e483a;
}